h1{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif
    ;
    color: brown;
    text-align: center;
    justify-content: center;
    align-items: center;
}

div{
    background-color: bisque;
    width: 400px;
    height: 600px;
    margin: 0 auto;
    border-radius: 40px;
    padding: 15px;
}
header{
    background-color: rgb(231, 140, 140);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 150px;
    border-radius: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: xx-large;
}
table{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: beige;
}
td{
    width: 150px;
    height: 70px;
    text-align: center;
    font-size: large;
}
.orange{
    color: rgb(66, 64, 61);
}
td:active{
    background-color: rgb(208, 187, 228);
    border-radius: 10px;
}